@font-face {
  font-family: "iconfont"; /* Project id 2494910 */
  /* Color fonts */
  src: 
       url('iconfont.ttf?t=1666245471017') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taobao:before {
  content: "\e616";
}

.icon-tuichudenglu:before {
  content: "\e611";
}

.icon-tuichu:before {
  content: "\e647";
}

.icon-tuichu1:before {
  content: "\e612";
}

.icon-tuichudenglu1:before {
  content: "\e64c";
}

.icon-tuichu2:before {
  content: "\e613";
}

.icon-zuji:before {
  content: "\e61d";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-kefu1:before {
  content: "\e62d";
}

.icon-xiazai:before {
  content: "\e68e";
}

.icon-xiazai1:before {
  content: "\e62a";
}

.icon-bangzhuzhongxin:before {
  content: "\e64a";
}

.icon-bangzhu:before {
  content: "\e623";
}

.icon-xiazai2:before {
  content: "\e871";
}

.icon-peiwangyindao:before {
  content: "\e603";
}

.icon-xinshouyindao:before {
  content: "\e60c";
}

.icon-zuji1:before {
  content: "\e650";
}

.icon-bangzhuzhongxinbeifen2:before {
  content: "\e610";
}

.icon-zuji2:before {
  content: "\ecb5";
}

.icon-bangzhu1:before {
  content: "\e60e";
}

.icon-yijianfankui:before {
  content: "\feb0";
}

.icon-tuandui:before {
  content: "\e62c";
}

.icon-dingdanchaxun:before {
  content: "\f4de";
}

.icon-tixian:before {
  content: "\f4fa";
}

.icon-tonggao:before {
  content: "\f4fb";
}

.icon-shoucangshangpin:before {
  content: "\ffa1";
}

.icon-changyongqingdan:before {
  content: "\ffa2";
}

.icon-zaicigoumai:before {
  content: "\ffa3";
}

.icon-home-copy:before {
  content: "\e608";
}

.icon-meituan:before {
  content: "\e601";
}

.icon-elemo:before {
  content: "\e602";
}

.icon-elemo1:before {
  content: "\e615";
}

.icon-meituan1:before {
  content: "\e6e6";
}

.icon-meituan2:before {
  content: "\e619";
}

.icon-elemo2:before {
  content: "\e61a";
}

.icon-shangcheng:before {
  content: "\e72b";
}

.icon-003-sakura:before {
  content: "\e66c";
}

